*.DS_Store
*.pdf
*.env
*.venv
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
run.sh
test.db
.praison/
node_modules
yarn.lock
*.idx
*.vscode
jua/
venv/
package-lock.json

# old backend
old_backend/

# Local Netlify folder
.netlify

# old frontend
old_frontend/
