/* frontend/src/components/ChatMessages.css */
.chat-message {
  padding: 10px 18px;
  border-radius: 8px;
  max-width: 85%;
  display: flex;
  align-items: flex-start;
  margin: 15px 0;
}

.chat-message.user {
  align-self: flex-end;
  background-color: var(--color-background-message-user);
  flex-direction: row-reverse;
  color: var(--color-text-message-user);
  border-radius: 18px !important;
  margin-left: auto;
  max-width: 85%;
}

.chat-message.assistant {
  align-self: flex-start;
  flex-direction: row;
  box-shadow: none;
  color: var(--color-text-message-assistant);
  padding: 0;
  position: relative;
  border-radius: 0;
  background-color: transparent;
  max-width: 85%;
}

.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 5px;
  border: 1px solid var(--color-profile-icon-border);
  align-self: flex-start;
}

.message-area {
  display: flex;
  flex-direction: column;
}

.message-content {
  word-wrap: break-word;
  margin-top: 0;
  padding: 10px 10px;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: calc(100vh - 100px);
  text-align: center;
}

.hide-scrollbar {
  overflow: hidden;
}