/* frontend/src/App.css */
:root {
  /* Light Theme Variables */
  --color-background-body: #f9f9f9; 
  --color-background-chat-container: #f9f9f9; 
  --color-border-chat-container: #ddd;
  --color-background-message-user: #e2e2e2; /* #3b82f6 */
  --color-text-message-user: #212121; /* #ffffff */
  --color-background-message-assistant: transparent; /* #f7f7f7 */
  --color-text-message-assistant: #212121; /* #374151 */
  --color-profile-icon-border: #dddcdc; 
  --color-input-container-background: white;
  --color-input-container-border: #ccc;
  --color-text-input: #212121;
  --color-button-send-background: #555;
  /*--color-button-send-hover-background: #45a049;*/
  --color-text-primary: #212121;
  --color-text-secondary: #555;
  --color-button-send-hover-background: #2563eb;

  /* Code Block Variables (Placeholders for later) */
  --color-background-code-block: #f0f0f0;
  --color-text-code-block: #333; 
  --font-family-code: monospace; 
}

body.dark-theme {
  /* Dark Theme Variables */
  --color-background-body: #0a0a0a; 
  --color-background-chat-container: #0a0a0a;
  --color-border-chat-container: #2c2c2c;
  --color-background-message-user: #444;
  --color-text-message-user: #ededed;
  --color-background-message-assistant: transparent; 
  --color-text-message-assistant: #ededed;
  --color-profile-icon-border: #444;
  --color-input-container-background: #171717;
  --color-input-container-border: #333;
  --color-text-input: #ededed; 
  --color-button-send-background: #3b82f6;
  --color-button-send-hover-background: #747474;
  ;
  --color-text-primary: #ededed; 
  --color-text-secondary: #bbbbbb;
  --color-background-code-block: #1e1e1e;
  --color-text-code-block: #d4d4d4;
}


body {
  margin: 0;
  padding: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  background-color: var(--color-background-body);
  color: var(--color-text-primary);
  height: 100%;
  overflow: hidden;
}

html {
  height: 100%;
  overflow: hidden;
}

/* Fonts */
.chat-container, .chat-message, .input-area, textarea { /* Apply to chat container and relevant elements */
  /*font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;*/
  font-family: Inter,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Cantarell,Helvetica Neue,Oxygen,Open Sans,sans-serif;
}

/* Monospace Font for Code Blocks (Markdown) */
.code-block, code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.9em;
  background-color: var(--color-background-code-block);
  padding: 0.2em 0.4em;
  border-radius: 3px;
  word-wrap: break-word;
  white-space: pre-wrap;
}